<section id="sidenav" class="sidenav container-fluid p-0">
    <div class="container-fluid p-0">
        <img class="sidenav-img bg-danger w-100" src="/image/nextpng.com.png" alt="">
        <div class="m-3 text-secondary">
            <p>Music</p>
            <div class="d-flex">
                <i class="fas fa-play"></i>
                <p class="ml-3">Featured</p>
            </div>
            <div class="d-flex">
                <i class="fas fa-microphone"></i>
                <p class="ml-3">Radio</p>
            </div>
            <div class="d-flex">
                <i class="fas fa-list"></i>
                <p class="ml-3">Song List</p>
            </div>
            <div class="d-flex">
                <i class="fas fa-tv"></i>
                <p class="ml-3">TV</p>
            </div>
            <div class="d-flex">
                <i class="fas fa-heart"></i>
                <p class="ml-3">Liked</p>
            </div>
            <div class="d-flex">
                <i class="fas fa-download"></i>
                <p class="ml-3">Download</p>
            </div>
            <div class="d-flex">
                <i class="fas fa-download"></i>
                <p class="ml-3">Play History</p>
            </div>
            <p class="text-uppercase text-secondary">my music list</p>
            <p class="text-uppercase">pop</p>
            <p class="text-uppercase">rock</p>
            <p class="text-uppercase">heavy metal</p>
            <button type="button" class="btn btn-danger">Explore</button>
        </div>
    </div>
</section>