<%- include("partials/header") %>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 border-right p-0">
            <%- include("partials/sidenav") %>
        </div>
        <div class="col-lg-10 p-0">
            <%- include("partials/topnav") %>
        </div>
    </div>
</div>
<%- include("partials/footer") %>